.about-page {
  text-align: center;
  padding: 40px;
}

.promise-section {
  background: rgb(255, 239, 213);
  padding: 80px;
  position: relative;
  left: 50%; /* shift to center */
  right: 50%;
  margin-left: -50vw; /* pull left edge to viewport edge */
  margin-right: -50vw; /* pull right edge to viewport edge */
  width: 100vw;
  box-sizing: border-box;
}
.section-title {
  color: rgba(218, 165, 32, 1);
  font-size: 2.5rem;
}
.our-story {
  color: rgba(218, 165, 32, 1);

  font-family: "Alice", serif; /* or a standard heading font */
  font-size: 1.5rem; /* large title size */
  font-weight: 400; /* normal weight for Alice font */
  line-height: 1.3; /* space between lines if multi-line */
  margin: 40px 0 20px 0; /* top and bottom spacing */
  text-align: center;
}
.our-story p {
  font-size: 1rem; /* smaller text */
  color: #666666; /* gray or any color you want */
  line-height: 1.6; /* spacing between lines */
  margin: 0 auto; /* center horizontally if max-width applied */
  max-width: 900px; /* optional: limit paragraph width for readability */
  text-align: center; /* optional: center text */
  font-family: "Poppins", sans-serif; /* readable paragraph font */
  margin: 0 auto 40px auto;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  gap: 15px;
  margin-top: 20px;
}
.stats-grid p {
  color: white;
}

.stat-card {
  padding: 5px 5px;
  border-radius: 8px;
  color: white;
  margin-top: 15px;
}

.stat-card.orange {
  background: #f3a600;
}
.stat-card.gold {
  background: #ffbf00;
}
.stat-card.blue {
  background: #64b7f6;
}
.stat-card.green {
  background: #388e3c;
}
.values-section h2 {
  color: rgba(218, 165, 32, 1);

  font-size: 2.5rem; /* large title size */
  font-weight: 400; /* normal weight for Alice font */
  line-height: 1.3; /* space between lines if multi-line */
  margin: 40px 0 20px 0; /* top and bottom spacing */
  text-align: center;
}

.values-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}
.value-card h4 {
  color: rgba(145, 178, 34, 1);
}

.value-card {
  background: #f2f2f2;
  padding: 25px;
  border-radius: 8px;
  text-align: left;
}
.team-section h2 {
  color: rgba(218, 165, 32, 1);

  font-size: 2.5rem; /* large title size */
  font-weight: 400; /* normal weight for Alice font */
  line-height: 1.3; /* space between lines if multi-line */
  margin: 40px 0 20px 0; /* top and bottom spacing */
  text-align: center;
}
.team-section h4 {
  color: rgba(218, 165, 32, 1);
}
.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.team-card img {
  width: 100%;
  border-radius: 8px;
}
